<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name="characters_counting"
			 connectionString="Data Source=IDEAPADS145\SQLEXPRESS;Initial Catalog=characters_counting;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
		<add name="master"
			 connectionString="Data Source=IDEAPADS145\SQLEXPRESS;Initial Catalog=master;Integrated Security=True"
			 providerName="System.Data.SqlClient" />-->
		<add name="characters_counting"
			 connectionString="Server=IDEAPADS145\SQLEXPRESS;Database=characters_counting;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
		<add name="master"
			 connectionString="Server=IDEAPADS145\SQLEXPRESS;Database=master;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>