USE [master]
GO
/****** Object:  Database [music_player]    Script Date: 13.04.2026 20:21:18 ******/
CREATE DATABASE [music_player]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'music_player', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\music_player.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'music_player_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\music_player_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [music_player].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [music_player]
GO
/****** Object:  Table [dbo].[music_tracks]    Script Date: 13.04.2026 20:21:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[music_tracks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](256) NOT NULL,
	[artist] [nvarchar](256) NULL,
	[album] [nvarchar](256) NULL,
	[genre] [nvarchar](128) NULL,
	[duration] [time](7) NULL,
	[file_name] [nvarchar](256) NOT NULL,
	[file_data] [varbinary](max) NOT NULL,
	[file_size] [bigint] NULL,
	[added_date] [datetime] NULL,
	[play_count] [int] NULL,
 CONSTRAINT [PK_music_tracks] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
