USE [master]
GO
/****** Object:  Database [number_system_converter]    Script Date: 26.04.2026 15:36:31 ******/
CREATE DATABASE [number_system_converter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'number_system_converter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\number_system_converter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'number_system_converter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\number_system_converter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [number_system_converter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [number_system_converter]
GO
/****** Object:  Table [dbo].[conversion_history]    Script Date: 26.04.2026 15:36:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[conversion_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[input_number] [nvarchar](128) NOT NULL,
	[input_base] [int] NOT NULL,
	[output_number] [nvarchar](128) NOT NULL,
	[output_base] [int] NOT NULL,
	[conversion_datetime] [datetime] NULL,
 CONSTRAINT [PK_conversion_history] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
